/* general */

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    color: #2b283a;
    font-weight: 400, 500;
    font-style: normal;
    margin: 0;
}

header, .section-two {
    background-color: #5f29a3;
}

.section-two {
    color: whitesmoke;
}


.container {
    width: 620px;
    margin: 0 auto;
}

footer {
    text-align: center;
    color: #5f29a3;
}

header, 
section,
footer {
    padding: 45px 0;
}

/*headings*/

h1, h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 36px;
}

h2 {
    margin-top: 0;
}

h3 {
    color: #d0aaff;
    font-size: 20px;
}

/* links */

a {
    color: #ef5839;
    text-decoration-style: dotted;
}

a:hover, a:active {
    color: #d4b44c;
}

/* images */

.purple-sneakers {
    width: 100%;
}

.section-two-img {
    width: 300px;
    border-radius: 4.6px;
}

.img-container {
    display: flex;
    justify-content: space-between;
}

